/*------- Global variables ------- */
/* Fonts */

@font-stack {
    font-family: font-stack;
	src: url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');
}

$font-stack: Rubik, sans-serif;

/* Colors */
$theme-color: #07d765;
$dark-color: #262626;
$light-color: #f2f7fd;

$dark-gradient: #dfeaf6;

/* Font sizes */
$heading-size-large: 46px;
$heading-size-medium: 30px;
$heading-size-small: 18px;

$paragraph-size: 16px;
$button-size: 20px;
$menu-size: 18px;

/* Font weights */
$heading-weight-large: 700;
$heading-weight-medium: 700;
$heading-weight-small: 500;

$paragraph-weight: 400;
$button-weight: 400;
$menu-weight:500;

/*------- Global ------- */

body {
    font-family: $font-stack;
}

h1, h2 {
    font-size:$heading-size-large;
    font-weight:$heading-weight-large;
}

h3 {
    font-size:$heading-size-medium;
    font-weight:$heading-weight-medium;
}

h4 {
    font-size:$heading-size-small;
    font-weight:$heading-weight-small;
}

strong {
    color:$theme-color;
}

button {
    background-color: $theme-color;
    font-size:$button-size;
    font-weight:$button-weight;
    border: none;
    border-radius:12px;
    padding: 10px 15px;
    color:$light-color;
    cursor:pointer;
    
    &:hover {
        background-color: $dark-color;
    }

    i {
        width:20px;
        margin-right:10px;
    }
}

/*------- Resets ------- */

html, body, ul, ol {
    margin: 0;
    padding: 0;
}

/*------- Grid layout ------- */

.gridContainer {
    display: grid;
    padding-top:95px; /*Samme værdi som headeren, så indhold ikke bliver skjult af headeren*/
}

/*------- Header ------- */

header {
    z-index:2;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    background-color:#fff;
    height:95px;
    position:fixed;
    width:100%;
    
    img {
        margin: auto;
        margin-top:25px;
        text-align:center;
    }
}

.menu {
    text-align: right;
    border-right: solid $dark-color 1px;
    padding-top:35px;
    margin-right:5%;
    
    &__menuBtn {
        display: inline;
        margin-right:5%;
        
        &--menuLink {
            color:$dark-color;
            text-transform: uppercase;
            text-decoration: none;
            font-size:$menu-size;
            font-weight: $menu-weight;
            
            &:hover {
                color:$theme-color;
            }
            
        }
        
    }
}

.rightMenu {
    margin-top:20px;
    color:$dark-color;
    font-size: ($menu-size + 2);
    
    li {
        list-style-type: none;
        margin-bottom:10px;
    }
    
    a {
        margin-top: 0;
        text-decoration: none;
        color:$theme-color;
        
        &:hover {
            color:$dark-color;
        }
        
    }
    
    i {
        text-align: center;
        width:25px;
    }
    
}

/*------- Footer ------- */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:$theme-color;
    background-image:url(../images/footer-wave.jpg);
    background-repeat: no-repeat;
    height:160px;
    
    img {
        margin:auto;
        margin-top:80px;
    }
    
    .footerCenterContent {
        margin:auto;
        margin-top:80px;
        
        button {
            background-color:#1fac5f;
            margin: 0px 15px;
            
            &:hover {
                background-color:$dark-color;
            }
            
        }
        
        small {
            width:100%;
            color:$light-color;
            display: block;
            text-align: center;
            margin-top:10px;
        }
    }
    
    .socialMedia {
        
        
        text-align: center;
        margin-top:80px;
        font-size:25px;
        
        a {
            margin-right:15px;
            color:$light-color;
            
            &:hover {
                color:$dark-color;
            }
        }
        
    }
}

/*------- Index ------- */
.intro {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color:$light-color;
    
    &__welcome {
        max-width:500px;
        margin:auto;
        margin-top:180px;
        
        &--welcomeTxt {
            margin:0;
            margin-left:15px;
            margin-right:15px;
        }
        
        &--welcomeParagraph {
            line-height:30px;
            margin:0;
            margin-left:15px;
            margin-right:15px;
        }
        
        button {
            margin-right:15px;
            margin-top:20px;
            margin-left:15px;
        }
    }
    
    &__welcomeImg {
        text-align: center;
        width: 100%;
        height: auto;
        position: relative;
        z-index:1;
        padding-top:50px;
    }
    
    .iphoneInstagram {
        position:relative;
        z-index:1;
        height: auto;
    }
    
    .likesAndHearts {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index:2;
        max-width:761px;
        width:100%;
        height: auto;
        padding-top:15px;
    }
}

.videoContainer {
    display:grid;
    background-color:$theme-color;
    background-image:url(../images/bgwave-home-01.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top:-100px;
    
    &__video {
        background-color:$dark-color;
        width: 90%;
        max-width:720px;
        height: 400px;
        margin:auto;
        margin-top:50px;
        margin-bottom:50px;
    }
    
    &__videoHeading {
        text-align: center;
        color:$light-color;
        margin:0;
        padding:0;
        padding-top:200px;
    }
}

.keyFeaturesContainer {
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-image:url(../images/bgwave-home-02.png), linear-gradient(180deg, $light-color, $dark-gradient);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top:350px;
    padding-bottom:25px;
    
    &__keyFeaturesHeading {
        text-align: center;
        margin:0;
        margin-bottom:50px;
    }
    
    &__keyFeatures {
        margin:auto;
        text-align: center;
    }
    
    &__keyFeaturesLeft {
        text-align: right;
        padding-top:200px;
        
        h3 {
            width:60%;
            float: right;
            margin:0;
        }
        
        p {
            width:60%;
            float:right;
            margin:0;
            margin-bottom:40px;
        }
        
    }
    &__keyFeaturesRight {
        text-align: left;
        padding-top:200px;
        
        h3 {
            width:60%;
            float: left;
            margin:0;
        }
        
        p {
            width:60%;
            float:left;
            margin:0;
            margin-bottom:40px;
        }
        
    }
}

.dashboardContainer {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    background-image:url(../images/bgwave-home-03.png), linear-gradient(180deg, $light-color, $dark-gradient);
    background-size: contain;
    background-repeat: no-repeat;
    height:900px;
    margin-top:-20px;
    
    button {
        margin-top:40px;
    }
    
    &__dashboardIndex {
        text-align: center;
        margin-top:350px;
        max-width:608px;
        float: right;
        padding-right:50px;
    }
    
    &__dashboardInformation {
        margin-left:10px;
        
        h4, p {
            margin:0;
        }
        
        p {
            margin-top:10px;
            margin-bottom:10px;
        }
        
        h4 {
            margin-bottom:20px;
        }
        
    }
    
    &__dashboardHeading {
        float:left;
        margin:0;
        margin-bottom:50px;
        margin-top:350px;
        max-width:500px;
    }
}

/*------- About ------- */
.aboutIntro {
    display: grid;
    grid-template-columns: 40% 60%;
	background-image: url(../images/bgwave-intro-image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
	
	&__text {
		max-width: 500px;
		margin: auto;
		margin-top: 75px;
		
		&--header {
			margin: 0;
			margin-left: 0;
			margin-right: 15px;
		}
		
		&--paragraph {
			line-height: 30px;
			margin: 0;
			margin-left: 0;
			margin-right: 15px;
			margin-top: 30px;
		}
	}
	
	&__img {
		text-align: center;
		width: 100%;
		height: auto;
		position: relative;
		z-index: 1;
		padding-top: 50px;
		margin-right: 300px;
		
		&--polaroids {
			position: relative;
			z-index: 1;
			height: auto;
		}
	}
}

.moreInformation {
	display: grid;
	grid-template-areas: 
		'title title'
		'left right';
	grid-gap: 25px;
	background-color: $light-color;
	padding-top: 100px;
	padding-bottom: 25px;
	
	&__h1 {
		text-align: center;
		position: relative;
		grid-area: title;
		margin-bottom: 50px;
	}
	
	&__DYK {
		text-align: center;
		grid-area: left;
		padding-left: 50px;
		padding-right: 50px;
	}
	
	&__optimize {
		text-align: center;
		grid-area: right;
		padding-left: 100px;
		padding-right: 100px;
	}
}

.founders {
	display: grid;
	grid-template-areas: 
		'kasper'
		'rasmus';
	grid-gap: 20px;
	padding: 10px;
	background-color: linear-gradient(180deg, $light-color, $dark-gradient);
	background-size: contain;
	background-repeat: no-repeat;
	
	&__Kasper {
		text-align: right;
		margin-top: 150px;
		padding-right: 50px;
		
		&--img {
			grid-area: kasper;
			margin-left: 100px;
			float: left;
		}
		
		&--h3 {
			grid-area: kasper;
		}
		
		&--p {
			grid-area: kasper;
			
		}
	}
	
	&__Rasmus {
		text-align: right;
		margin-top: 100px;
		padding-right: 50px;
		
		&--img {
			grid-area: rasmus;
			margin-left: 100px;
			float: left;
		}
		
		&--h3 {
			grid-area: rasmus;
		}
		
		&--p {
			grid-area: rasmus;
		}
	}
}